.stock-ticker {
	display: inline-block;
	width: 220px;
	min-height: 84px;
}

.stock-loader {
	/*background: #f00;*/
	border: 1px solid #ddd;
	background: url('/images/default/icons/loading.gif') no-repeat center;
}

.stock-ticker a {
	display: block;
	border: 1px solid #ddd;
	padding: 10px;
	color: #555;
}

.stock-ticker a:hover {
	border-color: #ccc;
	color: #000;
	background-color: #f8f8f8;
}

.stock-name {
	text-transform: uppercase;
}

.stock-direction {
	float: left;
	font-size: 24px;
	width: 30px;
	line-height: 40px;
}

.stock-val {
	font-size: 36px;
	line-height: 42px;
	margin-left: 30px;
	margin-right: 5	0px;
}

.stock-amount {
	float: right;
	font-weight: bold;
	width: 50px;
}

.stock-amount + .stock-amount {
	clear: right;
}

.decrease {
	color: #DC514D;
}

.increase {
	color: #3AB161;
}